/** @format */
@media screen and (max-width: 360px) {
  nav .links-tab {
    display: none;
  }
  .fa-bars {
    display: block;
  }

  main .info h4 {
    text-align: center;
  }

  main {
    margin-bottom: 290px;
  }

  main .info h1 {
    font-size: 35px;
  }

  main .info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main .grid {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    margin: 0 10px;
  }

  main .grid .item_container {
    margin: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .service {
    height: 400px;
    margin-bottom: 1400px;
  }

  .service_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service .grid2 {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    margin: 0 10px;
  }

  .service .grid2 .item_container2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .work {
    margin-top: 550px;
    margin-bottom: 550px;
    height: 300px;
  }
  .work .work_header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work .grid3 {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    margin: 0 10px;
  }

  .work .item_container3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .work .item_container3 img {
    width: 97%;
  }


footer{
  margin-top: 2300px;
}
}
